body{
    background-color: #EEEEEE;
	font-family: Roboto Slab;
}


/* Header */
#topSection {
	margin: 25px auto;
	width: 95%;
	height: 50px;
	display: grid;
	grid-template-columns: 400px 400px 400px;
	align-items: start;
	justify-content: space-between;
}

#hleft {
	text-align: left;
}
#hcenter {
	text-align: center;
	font-size: 18pt;
}
#hright {
	text-align: right;
}


/* Input Form */
#middleSection {
	margin: 25px auto;
	width: 300px;
	height: 50px;
}

#formContainer {
	margin: 25px auto;
	width: 300px;
	horizontal-align: middle;
	vertical-align: middle;
	white-space: nowrap;
	position: relative;
	font-size: 20pt;
}

#formContainer input[type=text] {
	width: 300px;
	height: 50px;
	background: #34495E;
	font-size: 15pt;
	border: none;
	float: left;
	color: #FFFFFF;
	padding-left: 15px;
	margin: 1em 0;
    border-radius: 5px;
}

#formContainer #submit {
	background: #34495E;
	position: absolute;
	top: 50%;
	margin-left: -50px;
	margin-top: 32px;
	z-index: 1;
	border: none;
	font-family: FontAwesome;
	font-size: 20pt;
	color: #FFFFFF;
}

/* Table */
#tableSection {
	margin: 25px auto;
	width: 95%;
	max-height: 410px;
	overflow-y: scroll;
}

#finalTable {
	width: 100%;
	background: #34495E;
	color: #FFFFFF;
	border-collapse: collapse;
	border-radius: .4em;
	margin: auto;
	font-family: Tahoma;
}

th {
	padding: 10px;
	position: sticky;
	border: 1px solid #c9f0ff;
	top: 0;
	color: #EFECCA;
	background: #34495E;
	font-weight: bold;
}

td {
	padding: 10px;
	border: 1px solid #c9f0ff;
}


#bottomSection {
	margin: 25px auto;
	width: 95%;
}

#results {
	text-align: right;
}

/* Highcharts */
.highcharts-figure {
    min-width: 360px; 
    max-width: 800px;
    margin: 1em auto;
}
