@import 'https://fonts.googleapis.com/css?family=Montserrat:300,400,700';

body{
    background-color: #eee;
	font-family: Montserrat, sans-serif;
    /* color: #ecf0f1; */
}

#topSection {
	margin: 25px auto;
	width: 95%;
	height: 50px;
	display: grid;
	grid-template-columns: 400px 400px 400px;
	align-items: start;
	justify-content: space-between;
}

.header {
	font-family: Roboto Slab;
}

#hleft {
	text-align: left;
}

#hcenter {
	text-align: center;
	font-size: 18pt;
}

#hright {
	text-align: right;
}

#middleSection {
	margin: 25px auto;
	width: 300px;
	height: 50px;
}

#formContainer {
	margin: 25px auto;
	width: 300px;
	horizontal-align: middle;
	vertical-align: middle;
	white-space: nowrap;
	position: relative;
	font-size: 20pt;
}

#formContainer input[type=text] {
	width: 300px;
	height: 50px;
	background: #34495E;
	font-size: 15pt;
	border: none;
	float: left;
	color: #ffffff;
	padding-left: 15px;
	margin: 1em 0;
	font-family: Montserrat, sans-serif;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#formContainer #submit {
	background: #34495E;
	position: absolute;
	top: 50%;
	margin-left: -50px;
	margin-top: 32px;
	z-index: 1;
	color: #FFFFFF;
	font-family: FontAwesome;
	border: none;
	font-size: 20pt;
}

#tableSection {
	margin: 25px auto;
	width: 95%;
	max-height: 410px;
	overflow-y: scroll;
}

#finalTable {
	width: 100%;
	background: #34495E;
	color: #fff;
	border-radius: .4em;
	margin: auto;
}

th {
	position: sticky;
	top: 0;
	color: #ffffff;
	background: #34495E;
	margin: 300px;
	font-weight: bold;
}

tbody {
	max-height: 200px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	color: #FFFFFF;
}

#bottomSection {
	margin: 25px auto;
	text-align: right;
	width: 95%;
}